.app {
  background: #209cee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  min-width: 30vw;
  max-width: 70vw;
  padding: 5px;
}

.todo-list input {
  align-items: center;
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;
  width: 98.5%;
  height: 20px;
}

.todo {
  align-items: center;
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 5px 10px;
}

.todo button {
  margin-left: 5px;
}
